html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
main,
footer,
nav,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

i,
em {
  font-style: normal;
}
